section#why.py-8.w-3/4
  h2.text-4xl.font-black.mb-4 What's it do?

  ul.list-disc.leading-snug.text-2xl.font-light
    li.mb-3 Sends a <strong class="font-bold">weekly "coming-up" email</strong> to your members.
    li.mb-3 Sends <strong class="font-bold">RSVP reminders</strong> to non-respondents.
    li.mb-3 Publishes your unit calendar so members can <strong class="font-bold">add it to their favorite calendar app.</strong>
    li.mb-3 Lets you designate one or more <strong class="font-bold">event organizers</strong>, and then send your organizers a daily email when people RSVP to their events.
    li.mb-3 Members can download a <strong class="font-bold">printable PDF calendar</strong>
    li.mb-3 Meeting planner lets you see your unit meetings in one view and decide what to do at each meeting.